#root {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 10% 90%;
  grid-template-areas:
    'hd hd hd hd hd hd hd hd hd'
    'sd sd main main main main main main main';
}
